<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<div>
    <div class="container button_container">
    <a href="/shows/" class="btn btn-primary">Shows</a>
    </div>
    <h2><a href="/shows/{{ object.id }}/">{{ object.title }}</a></h2>
    <p>{{ object.descriptions }}</p>
    <img src="{{object.image.url}}" alt="">
    <p>{{ object.quantity }}</p>
    <p>{{ object.genre }}</p>
    <p>{{ object.date_filmed }}</p>

</div>
<button><a href="/shows/{{ object.id }}/update" class=" btn btn-primary">Update</a></button>
<button><a href="/shows/{{ object.id }}/delete" class=" btn btn-primary">Delete</a> </button>
<div>
    <h2>Comments:</h2>
    <ul>
        {% for i in show_comment.all %}
        <li>
            <p>{{ i.text }}</p>
            <p>{{ i.created_date }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>